@font-face {
    font-family: 'Bentley';
    src: url('BentleySemiBold-Italic.woff2') format('woff2'),
        url('BentleySemiBold-Italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bentley';
    src: url('Bentley-Bold.woff2') format('woff2'),
        url('Bentley-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bentley';
    src: url('BentleySemiBold.woff2') format('woff2'),
        url('BentleySemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bentley';
    src: url('BentleyLight.woff2') format('woff2'),
        url('BentleyLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bentley';
    src: url('Bentley-BoldItalic.woff2') format('woff2'),
        url('Bentley-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bentley';
    src: url('BentleyLight-Italic.woff2') format('woff2'),
        url('BentleyLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bentley';
    src: url('Bentley.woff2') format('woff2'),
        url('Bentley.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bentley';
    src: url('Bentley-Italic.woff2') format('woff2'),
        url('Bentley-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

